* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 1px solid red;
}

.overlay {
  /* position: fixed; */
  height: 100vh;
  width: 100vw;
  background: #f7f7f7;
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal {
  height: 430px;
  max-width: 932px;
  flex-basis: 932px;
  margin: auto;
}

.modal__slide {
  display: flex;
  height: 430px;
  max-width: 932px;
  flex-basis: 932px;
  margin: auto;
}

.modal__image {
}

.modal__content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
}

.modal__content-logo {
  max-width: 80px;
}

.modal__content-header {
}

.modal__content-text {
}

.modal__content-button {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 20px;
  padding: 0px 50px;
}

.main-btn {
  background-color: #f7034e;
  padding: 6px 18px;
  border-radius: 5px;
  color: white;
  width: 180px;
  height: 45px;
  font-size: 14px;
}

.secondary-btn {
  border: 2px solid #f7034e;
  background-color: white;
  color: #f7034e;
  padding: 6px 18px;
  border-radius: 5px;
  width: 180px;
  height: 45px;
  font-size: 14px;
}
