*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
}

:root {
  --open-sans-font-stack: "Open Sans", sans-serif;
}

.overlay {
  display: flex;
  position: fixed;
  height: 100vh;
  width: 100vw;
  background: #f7f7f7;
  align-items: center;
  justify-content: center;
  background-color: grey;
  /* z-index: 99999; */
}

.modal {
  position: relative;

  display: none;
  height: 467px;
  max-width: 934px;
  flex-basis: 934px;
  margin: auto;
}

.modal[data-active] {
  display: block;
}

.modal__slide {
  display: none;
  flex-direction: row;
  height: 467px;
  max-width: 934px;
  flex-basis: 934px;
  margin: auto;

  position: relative;
}

.modal__slide[data-active] {
  display: flex;
}

.modal__close {
  position: absolute;
  right: 1%;
  top: 3%;

  width: 30px;
  height: 30px;
  font-size: 24px;
  color: rgb(158, 155, 155);
  background-color: white;
  border: 1px;

  cursor: pointer;
}

.modal__image {
  width: 100%;
  flex-basis: 466px;
  background-color: #f7034e;
  background-size: 300px;
  background-position: center;
  background-repeat: no-repeat;
}

.modal__content {
  display: flex;
  flex-direction: column;
  padding: 20px;
  flex-basis: 466px;
  background-color: white;
}

.modal__content-header {
  text-align: center;
  font-size: 30px;
  line-height: 1.2;
  font-family: var(--open-sans-font-stack);
  margin-top: auto;
  padding: 0px 10px 20px 10px;
}

.modal__content-text {
  font-size: 18px;
  text-align: center;
  line-height: 1.5;
  font-family: var(--open-sans-font-stack);
  padding: 0px 10px 20px 10px;
}

.modal__content-button {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 20px;
  margin-top: auto;
}

.main-btn,
.secondary-btn {
  width: 100%;
  max-width: 200px;
  height: 45px;
  border-radius: 5px;
  font-size: 14px;
}

.main-btn {
  background-color: #f7034e;
  color: white;
  border: none;
}

.secondary-btn {
  background-color: white;
  color: #f7034e;
  border: 2px solid #f7034e;
}

.modal__carousel {
  display: flex;
  gap: 5px;
  justify-content: center;
  align-items: baseline;
  cursor: pointer;
  padding: 20px 20px;
}

.modal__carousel-dot {
  border: 1px solid red;
  border-radius: 50%;
  height: 14px;
  width: 14px;
}

.modal__carousel-dot[data-active] {
  background-color: #f7034e;
}

.next,
.prev {
  top: 37%;
  position: absolute;
  z-index: 1;
  border: none;
  background: none;
  font-size: 40px;
  padding: 0px 5px;
  color: white;
  cursor: pointer;
}

.prev {
  left: -6%;
}

.next {
  right: -6%;
}

.modal__close-mobile {
  display: none !important;
}

/*Media Queries:*/
@media (max-width: 934px) {
  .modal {
    height: auto;
    max-width: 480px;
    margin: auto;
  }

  .modal__slide {
    flex-direction: column;
    height: auto;
    max-width: 480px;
    position: relative;
  }

  .modal__image {
    height: 330px;
    flex-basis: 330px;
  }

  .modal__close {
    top: 0.8%;
  }

  .modal__close-desktop {
    display: none !important;
  }

  .modal__content {
    align-items: center;
    height: auto;
    max-width: 480px;
    flex-basis: auto;
  }

  .main-btn,
  .secondary-btn {
    width: 200px;
    padding: 0 20px;
  }

  .modal__carousel {
    max-width: 480px;
    margin: auto;
  }
}

@media (orientation: landscape) and (max-width: 934px) {
  .modal {
    max-width: 654px;
    flex-basis: 654px;
  }

  .modal__slide {
    flex-direction: row;
    height: 327px;
    margin: auto;
    max-width: 654px;
    flex-basis: 654px;
  }

  .modal__image {
    max-width: 327px;
    max-height: 327px;
    height: auto;
  }

  .modal__content {
    max-width: 327px;
    max-height: 327px;
    height: auto;
  }

  .modal__content-logo {
    display: none;
  }

  .modal__content-header {
    text-align: center;
    font-size: 20px;
    line-height: 1.2;
    font-family: var(--open-sans-font-stack);
    padding: 0px 10px 20px 10px;
  }

  .modal__content-text {
    font-size: 14px;
    text-align: center;
    line-height: 1.5;
    font-family: var(--open-sans-font-stack);

    max-width: 100%;
    margin-bottom: 20px;
  }

  .modal__content-button {
    max-width: 250px;
  }

  .modal__close-mobile {
    display: none !important;
  }
}

@media (max-width: 430px) {
  .modal {
    height: auto;
    max-width: 330px;
    margin: auto;
  }

  .modal__slide {
    flex-direction: column;
    height: auto;
    max-width: 330px;
    position: relative;
  }

  .modal__close {
    top: 0.8%;
  }

  .modal__image {
    height: 330px;
    flex-basis: 330px;
  }

  .modal__close-desktop {
    display: none !important;
  }

  .modal__content {
    align-items: center;
    height: auto;
    max-width: 330px;
    flex-basis: auto;
  }

  .modal__content-header {
    font-size: 22px;
  }

  .modal__content-text {
    text-align: center;
    font-size: 14px;
  }

  .main-btn,
  .secondary-btn {
    width: 100%;
  }

  .modal__carousel {
    max-width: 330px;
    margin: auto;
  }

  .overlay {
    overflow-y: scroll;
  }
}
