*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  /* border: 1px solid red; */
}

:root {
  --open-sans-font-stack: "Open Sans", sans-serif;
}

.overlay {
  position: fixed;
  height: 100vh;
  width: 100vw;
  background: #f7f7f7;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: grey;
  z-index: 99999;
}

.modal {
  height: 466px;
  max-width: 934px;
  flex-basis: 934px;
  margin: auto;
}

.modal__slide {
  display: flex;
  flex-direction: row;
  height: 466px;
  max-width: 934px;
  flex-basis: 934px;
  margin: auto;

  position: relative;
}

.modal__close {
  position: absolute;
  right: 1%;
  top: 3%;

  width: 30px;
  height: 30px;
  font-size: 24px;
  color: rgb(158, 155, 155);
  background-color: white;
  border: 1px;

  cursor: pointer;
}

.modal__image {
  width: 100%;
  flex-basis: 466px;
  background-image: url("https://images.unsplash.com/photo-1525755662778-989d0524087e?q=80&w=2874&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
  background-size: cover;
  background-position: center;
}

.modal__content {
  display: flex;
  flex-direction: column;
  padding: 20px;
  flex-basis: 466px;
  justify-content: center;
  gap: 0px;
  background-color: white;
}

.modal__content-logo {
  align-self: center;
  width: 100px;
  margin-bottom: 20px;
}

.modal__content-header {
  text-align: center;
  font-size: 30px;
  line-height: 1.2;
  font-family: var(--open-sans-font-stack);
  margin-bottom: 20px;
}

.modal__content-text {
  font-size: 18px;
  text-align: center;
  line-height: 1.5;
  font-family: var(--open-sans-font-stack);

  max-width: 100%;
  margin-bottom: 20px;
}

.modal__content-button {
  padding-top: 20px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 20px;
}

.main-btn,
.secondary-btn {
  width: 100%;
  max-width: 200px;
  height: 45px;
  border-radius: 5px;
  font-size: 14px;
}

.main-btn {
  background-color: #f7034e;
  color: white;
  border: none;
}

.secondary-btn {
  background-color: white;
  color: #f7034e;
  border: 2px solid #f7034e;
}

.modal__navigation {
  display: flex;
  gap: 5px;
  justify-content: center;
  cursor: pointer;
  padding: 20px 20px;
}

.modal__navigation-dot {
  border: 1px solid red;
  border-radius: 50%;
  height: 12px;
  width: 12px;
}

.modal__navigation-dot.isActive {
  background-color: #f7034e;
}

.modal__close-mobile {
  display: none !important;
}

/*Portrait:*/
@media (max-width: 934px) {
  .modal {
    height: auto;
    max-width: 480px;
    margin: auto;
  }

  .modal__slide {
    flex-direction: column;
    height: auto;
    max-width: 480px;
    position: relative;
  }

  .modal__image {
    height: 330px;
    flex-basis: 330px;
  }

  .modal__close {
    top: 0.8%;
  }

  .modal__close-desktop {
    display: none !important;
  }

  .modal__content {
    align-items: center;
    height: auto;
    max-width: 480px;
    flex-basis: auto;
  }

  .main-btn,
  .secondary-btn {
    width: 200px;
  }

  .modal__navigation {
    max-width: 480px;
    margin: auto;
  }
}

@media (orientation: landscape) and (max-width: 934px) {
  .modal {
    max-width: 654px;
    flex-basis: 654px;
  }

  .modal__slide {
    flex-direction: row;
    height: 327px;
    margin: auto;
    max-width: 654px;
    flex-basis: 654px;
  }

  .modal__image {
    max-width: 327px;
    max-height: 327px;
    height: auto;
  }

  .modal__content {
    max-width: 327px;
    max-height: 327px;
    height: auto;
  }

  .modal__content-logo {
    display: none;
  }

  .modal__content-header {
    text-align: center;
    font-size: 20px;
    line-height: 1.2;
    font-family: var(--open-sans-font-stack);
    margin-bottom: 20px;
  }

  .modal__content-text {
    font-size: 14px;
    text-align: center;
    line-height: 1.5;
    font-family: var(--open-sans-font-stack);

    max-width: 100%;
    margin-bottom: 20px;
  }

  .modal__content-button {
    max-width: 250px;
  }

  .modal__close-mobile {
    display: none !important;
  }
}

@media (orientation: landscape) and (max-width: 569px) {
  .modal {
    max-width: 568px;
    flex-basis: 568px;
  }
}

@media (max-width: 430px) {
  .modal {
    height: auto;
    max-width: 330px;
    margin: auto;
  }

  .modal__slide {
    flex-direction: column;
    height: auto;
    max-width: 330px;
    position: relative;
  }

  .modal__close {
    top: 0.8%;
  }

  .modal__image {
    height: 330px;
    flex-basis: 330px;
  }

  .modal__close-desktop {
    display: none !important;
  }

  .modal__content {
    align-items: center;
    height: auto;
    max-width: 330px;
    flex-basis: auto;
  }

  .modal__content-header {
    font-size: 22px;
  }

  .modal__content-text {
    text-align: center;
    font-size: 14px;
  }

  .main-btn,
  .secondary-btn {
    width: 100%;
  }

  .modal__navigation {
    max-width: 330px;
    margin: auto;
  }

  .overlay {
    overflow-y: scroll;
  }
}
